@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
</div>

<div class="text-center">
    <h2 class="display-5">Introduction to DevOps</h2>
    <p>DevOps is a set of practices that combines software development (Dev) and IT operations (Ops). It aims to shorten the systems development life cycle and provide continuous delivery with high software quality. <a href="https://learn.microsoft.com/devops">Learn more about DevOps.</a></p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.blackduck.com%2Fglossary%2Fwhat-is-cicd.html&psig=AOvVaw3xAvpkzlVYgx1kBBNhZ2JU&ust=1738216626934000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKD1ndafmosDFQAAAAAdAAAAABAE" alt="DevOps Process">
</div>

<div class="text-center">
    <h2 class="display-5">Benefits of DevOps</h2>
    <ul>
        <li>Faster delivery of features</li>
        <li>More stable operating environments</li>
        <li>Improved communication and collaboration</li>
        <li>Better resource utilization</li>
    </ul>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.opsmx.com%2Fblog%2Fwhat-is-a-ci-cd-pipeline%2F&psig=AOvVaw3f-xaQOpsTtDP5e3Q3WQ1q&ust=1738216763491000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCODSoZegmosDFQAAAAAdAAAAABAE" alt="DevOps Benefits">
</div>

<div class="text-center">
    <h2 class="display-5">DevOps Tools and Technologies</h2>
    <p>DevOps involves a variety of tools and technologies that help automate and streamline processes. Some popular DevOps tools include:</p>
    <ul>
        <li>Git and GitHub for version control</li>
        <li>Jenkins for continuous integration and continuous delivery (CI/CD)</li>
        <li>Docker for containerization</li>
        <li>Kubernetes for container orchestration</li>
        <li>Terraform for infrastructure as code</li>
    </ul>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D42UP1fxi2SY&psig=AOvVaw3xAvpkzlVYgx1kBBNhZ2JU&ust=1738216626934000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKD1ndafmosDFQAAAAAdAAAAABAI" alt="DevOps Tools">
</div>
